* {
    box-sizing: border-box;
}
header {
    background: blue;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    display: flex;
}
.bar {
    overflow: hidden;
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
    
}
.bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.bar a:hover {
    background-color: teal;
    color: black;
}

.sidebar {
    float: left;
    width: 75%;
}

.work {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
.selfie {
    width: 25%;
    height: auto;
}
.UW {
    width: 25%
    height: 200px;
}