* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin:0;
}

Header {
    padding: 60 px;
    text-align: center;
    background: whitesmoke;
    color: black;
}

.headers {
    width: 200px;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.work {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}
body {
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
}
.selfie {
    width: 25%;
    height: auto;
}
.UW {
    width: 25%
    height: 200px;
}